[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

"psycopg2" = "*"
requests = "*"
"beautifulsoup4" = "*"
xlrd = "*"
python-dotenv = "*"
pyotp = "*"
pyperclip = "*"


[requires]

python_version = "2.7"
